<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Наиболее просматриваемые темы сегодня</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="first-course">1. Заключение контракта о поставке оборудования для оснащения студенческих объединений</h6>
    </ion-text>
    <p>Артур Нимчура | Системный аналитик </p>
    <ion-text color="dark">
      <h6>2. Залог качественной работы. Избавься от прокрастинации</h6>
    </ion-text>
    <p>Артур Нимчура | Тимлид </p>
    <ion-text color="dark">
     <h6>3. Как улучшить работоспособность кода. Гайд для "Чайников"</h6>
    </ion-text>
    <p>Терентий Тихонов |  DevOps инженер</p>
    <ion-button color="dark" size="small" color="danger" fill="clear"><ion-text color="medium">Посмотреть остальные статьи</ion-text><ion-icon color="medium" class="ion-padding" name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-card-content>
</ion-card>